<!DOCTYPE html>
<html>
<head>
  <title>Webdeluna</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="navbar navbar-default navbar-static-top "  role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Lunambotics<!--<img id="logo" src="" alt="">--></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                     
             <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Index", :controller => :index, :action => :index %></li>
            <li><%= link_to "Equipo", :controller => :index, :action => :equipo %></li>
            <li><%= link_to "Eventos", :controller => :index, :action => :eventos %></li>
            <li><%= link_to "Galeria", :controller => :index, :action => :galeria %></li>
            <li><%= link_to "Contacto", :controller => :index, :action => :contacto %></li>
            <li><%= link_to "Wiki", :controller => :index, :action => :wiki %></li>
            <li><%= link_to "Patrocinadores", :controller => :index, :action => :patrocinadores %></li>
          </ul>
        </div><!--/.nav-collapse -->
        </div>
        </div>
<%= yield %>

</body>
</html>
